.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.header {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  background-color: #e2e2e2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer {
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 5px;
  text-align: center;
  background-color: #e2e2e2;
  /* position: sticky;
  bottom: 0; */
}

/* .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* p {
  font-size: 2rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
}

button {
  border: none;
  outline: none;
  padding: 0.8rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  background-color: #72bcd4;
  color: #fff;
  font-weight: bolder;
}

button:hover {
  background-color: #86c5da;
  cursor: pointer;
} */
